<div class="row">
  <div class="column" ngsReveal>

    <div class="item item2">
      <img src="../../assets/mountains-clouds-forest-fog.jpg" style="width: 100%">
    </div>
    <div class="item item2">Item 2
      <img src="../../assets/mountains-clouds-forest-fog.jpg" style="width: 100%">
    </div>
    <div class="item item2">Item 2
      <img src="../../assets/mountains-clouds-forest-fog.jpg" style="width: 100%">
    </div>

  </div>
  <div class="column">
    <div class="item item2">Item 2
      <img src="../../assets/mountains-clouds-forest-fog.jpg" style="width: 50%">
    </div>
  </div>
  <div ngsReveal>
    <img src="../../assets/mountains-clouds-forest-fog.jpg" style="width: 30%">
    Prova
  </div>




  <div class="itemset" ngsRevealSet [ngsSelector]="'.item'">
    <div class="item item1">Item 1
      <img src="../../assets/mountains-clouds-forest-fog.jpg" style="width: 30%">

    </div>
    <div class="item item2">Item 2
      <img src="../../assets/mountains-clouds-forest-fog.jpg" style="width: 30%">

    </div>
    <div class="item item3">Item 3
      <img src="../../assets/mountains-clouds-forest-fog.jpg" style="width: 30%">

    </div>
    <div class="item item4">Item 4
      <img src="../../assets/mountains-clouds-forest-fog.jpg" style="width: 30%">

    </div>
    <div class="item5">Item 5 (will not be animated)</div>
  </div>
</div>